# ignore node dependency directories
node_modules/
wp-admin/
wp-includes/
wp-content/uploads
wp-content/ai1wm-backups
wp-content/cache
wp-content/upgrade
wp-content/w3tc-config

# ignore log files and databases
*.log
*.sql
*.sqlite

/404.shtml
/index.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/error_log
